@model hoten_1234_2425_baithitest.sinhvien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>sinhvien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hoten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hoten)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.mssv">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
